<div class="calendar">
    <health-schedule-controls
        [selected]="selectedDay"
        (onMove)="handleOnMove($event)">
    </health-schedule-controls>

    <health-schedule-days
        [selected]="selectedDayIndex"
        (onSelectDay)="handleOnSelectDay($event)">
    </health-schedule-days>

    <health-schedule-section
        *ngFor="let section of sections"
        [name]="section.name"
        [section]="getSection(section.key)"
        (onSelect)="handleOnSelectSection($event, section.key)">
    </health-schedule-section>
</div>